<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FileAnalyzer1</display-name>
  <welcome-file-list>
    <welcome-file>fileUpload.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewFileServlet</display-name>
    <servlet-name>NewFileServlet</servlet-name>
    <servlet-class>com.epam.project.NewFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFileServlet</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtraServlet</display-name>
    <servlet-name>ExtraServlet</servlet-name>
    <servlet-class>com.epam.project.ExtraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtraServlet</servlet-name>
    <url-pattern>/extra</url-pattern>
  </servlet-mapping>
</web-app>